#grid-container {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 30px;
    width : 500px
  }
.link_wrapping {
  text-decoration: none;
}
.game_text {
  font-family: Arial, sans-serif;
}

.date_div {
  display: flex;
}
/* '>' means it will target elements which are direct children of a particular element */
.date_div > div { /* targeting the divs under date_div*/
  flex: 1;
}
  
.game_box {
    float:left;
    font-family: Arial, sans-serif;
    font-size : 30px;
    background-color: rgba(220, 220, 220, 0.8);
    border: 1px solid rgba(220, 220, 220, 0.8);
    color:black;
    border-radius: 5px;
    padding: 10px; 
    font-size: 10px;
    text-align: center;
    /* width : 200px; */
    height : 100px;
    width: 150px;
    margin: 10px;
    position: relative;
    /* position: absolute; */
}
.date {
  font-size : 10px;
  position: absolute;
  top : 1px;
  left: 5px;
}
.time {
  font-size : 10px;
  position: absolute;
  top: 1px;
  /* right: 5px */
  left: 50px;
}
.home_team {
  font-size : 15px;
  position: absolute;
  color: #001f59;
  top: 20px;
  left: 10px;
  font-weight: bold;
}
.home_score {
  font-size : 15px;
  position: absolute;
  top: 20px;
  right: 40px;
  font-weight: bold;
}
/* .opponent_name {
  font-size : 15px;
  position: absolute;
  top: 40px;
  left: 10px;
  font-weight: bold;
} */

.opponent_logo {
    height : 20px;
    position: absolute;
    top: 60px;
    left: 15px;
}

.opponent_score {
  font-size : 15px;
  position: absolute;
  top: 40px;
  right: 40px;
  font-weight: bold;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

